@{
    ViewBag.Title = "Home Page";
}

<!-- end of left content -->
<div class="center_content">
    <div class="oferta">
        <img src="https://cdn.euroinnova.edu.es/img/subidasEditor/dise%C3%B1o%20sin%20t%C3%ADtulo%20(10)-1616470848.webp" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Web Shop</div>
            <div class="oferta_text"> Donde puedes comprarnos los mejores equipo en tecnologia </div>
        </div>
    </div>
    <div class="center_title_bar">Latest Products</div>
    @foreach (var producto in Model)
    {
        <div class="prod_box">
            <div class="center_prod_box">
                <div class="product_title"><a href="#">@producto.nombre_producto</a></div>
                <div class="product_img"><a href="#"><img src="link" alt="" border="0" /></a></div>
                <br />
                <br />
                <br />
                <div class="prod_price"> <span class="price">$@producto.precio_unidad</span></div>
            </div>
            <div class="prod_details_tab"> <a href="#" class="prod_buy">Comprar</a>  </div>
        </div>
    }


</div>
<!-- end of center content -->

<div class="row">
    <div class="col-md-4">
        <h2>Inicia sesion</h2>
        <p>
            Ingresa con tu cuenta para realizar compras
        </p>
        <p><a class="btn btn-default" >@Html.ActionLink("Login", "Login", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Registrate</h2>
        <p>
            Registrate si no tienes cuenta
        </p>
        <p><a class="btn btn-default">@Html.ActionLink("Registro", "Registro", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>APIShop</h2>
        <ul>
            @foreach (var producto in Model)
            {
                <li>@producto.nombre_producto</li>
            }
        </ul>
    </div>
</div>